/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
ul {
            list-style-type: square; /* Square bullets */
            margin-left: 20px; /* Space from the left */
            padding-left: 0; /* Remove default padding */
        }

        ul li {
            color: #333; /* Text color */
            font-size: 16px; /* Font size */
            padding-left: 10px; /* Space between bullet and text */
        }

.course-section {
    background-color: #f0f4f7; /* Light blue background */
    padding: 20px;
    border-radius: 10px; /* Optional rounded corners */
}
.course-section1 {
    background-color: #d0e4f7; /* Light blue background */
    padding: 20px;
    border-radius: 10px; /* Optional rounded corners */
}
.course-section2 {
    background-color: #e6f7e0; /* Light blue background */
    padding: 20px;
    border-radius: 10px; /* Optional rounded corners */
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
}

/* Responsive adjustments */


@media (max-width: 480px) {
    header {
        font-size: 1em;
        padding: 10px;
    }

    .container {
        padding: 5px;
    }

    nav ul li {
        margin: 5px 0;
    }
}

/* Header */
header {
    width:100%;
    background-color: #004080;
    color: white;
    padding: 10px 0;
    text-align: center;
    height: 200px; /* You can adjust this value */
            /*background-color: #f5f5f5; /* Example background color */
            display: flex;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header h2 {
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
}
header h3 {
    margin: 0;
    font-size: 12px;
    font-weight: lighter;
}
header h4 {
    margin: 0;
    font-size: 10px;
    font-weight: lighter;
}
/* Navigation */
nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section Styling */
main section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main h2 {
    margin-top: 0;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
.course-section, .sidebar {
    display: inline-block;
    vertical-align: top;
}

.course-section {
    width: 40%; /* Ajustez selon l'espace souhaité */
    margin-right: 2%;
}

.sidebar {
    width: 60%; /* Ajustez selon l'espace souhaité */
    border-left: 1px solid #ddd; /* Optionnel: bordure pour séparer visuellement */
    padding-left: 15px;
}
